@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integrantes";
}
<div style="color: white;">
    <h1>@ViewData["Title"]</h1>
    <ul>
        <li>Alana Soad Portillo Valladares        20231002384.</li>
        <li>Cesar Edgardo Sierra González         20231002985</li>
        <li>Kevin Gabriel Flores Flores           20231003357</li>
    </ul>
</div>


